SERVER_NAME=Valheim Vanilla+
SERVER_WORLD=MyValheimWorld
SERVER_PASSWORD=change_me

SERVER_VISIBILITY=0
ENABLE_CROSSPLAY=false
ENABLE_PLUGINS=true

SERVER_SAVE_INTERVAL=900
SERVER_BACKUPS=8
SERVER_BACKUP_SHORT=3600
SERVER_BACKUP_LONG=43200
